<?xml version="1.0" encoding="utf-8" ?>
<configuration>		
		<appSettings>
		<add key="PhoneServiceAssembly" value="BusinessLogicLayer.PhoneService,DIP.BusinessLogicLayer"/>		
		<add key="BasePhoneAssembly" value="DataAccessLayer.iPhone,DIP.DataAccessLayer|DataAccessLayer.Samsung,DIP.DataAccessLayer"/>
				
	</appSettings>
</configuration>